@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0a0a0a;
    color: #fff;
    margin: 0;
    padding: 0;
}

.frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 50%;
    margin-top: 1%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    background-color: #111;
    border-radius: 10px;
    padding: 30px;
    background: linear-gradient(135deg, #111 0%, #272727 100%);
    opacity: 0; /* Start with 0 opacity */
    animation: fadeIn 1s forwards; /* Add fade-in animation */
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

h1 {
    margin-bottom: 30px;
}

.status {
    font-size: 2em;
    height: 40px;
    width: 100px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    text-align: center;
    margin: auto;
    padding: 30px;
    background-color: #0af;
    color: #fff;
}

.occupancyModule {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.module {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 50%;
    width: 150px;
    padding: 20px;
    border: 5px #0af solid;
    transition: transform 0.5s, background-color 0.3s; /* Add transition */
}

.module:hover {
    transform: scale(1.05); 
}

.current,
.max {
    font-size: 2em;
}

.currentOccupancy {
    font-size: 20px;
    margin-top: 20px;
    text-decoration: 2px underline;
}

.tools {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    background-color: #111;
    border-radius: 10px;
    padding: 20px;
    transition: transform 0.5s ease;
}

.tools:hover {
    transform: translateY(-3px); 
}

.title {
    font-size: 2em;
    margin-bottom: 20px;
}

input {
    margin-bottom: 20px;
    padding: 10px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid #0af;
    background-color: #333;
    color: #fff;
}

button {
    padding: 10px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid #0af;
    background-color: #0af;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff8400;
    color: #000; /* Add color transition */
    transition: background-color 0.3s ease, color 0.3s ease; /* Add color transition */
}

input:focus,
button:focus {
    outline: none;
}

button.clicked {
    background-color: green;
}


/* Hide the up and down arrows */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    /* Firefox */
}

/* Optional: adjust appearance for browsers that don't support the above */
input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
}